<h1>Listing applies</h1>

<table>
  <tr>
    <th>Position</th>
    <th>User</th>
    <th>Integer</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @applies.each do |apply| %>
  <tr>
    <td><%= apply.position_id %></td>
    <td><%= apply.user_id %></td>
    <td><%= apply.integer %></td>
    <td><%= apply.status %></td>
    <td><%= link_to 'Show', apply %></td>
    <td><%= link_to 'Edit', edit_apply_path(apply) %></td>
    <td><%= link_to 'Destroy', apply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Apply', new_apply_path %>
