<h1>Listing career_fairs</h1>

<table>
  <tr>
    <!--<th>Activity</th>
    <th>Fair</th>-->
    <th>Career Fair Name</th>
    <th>Date</th>
    <th>Person in charge</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @career_fairs.each do |career_fair| %>
  <tr>
    <!--<td><%= career_fair.activity_id %></td>
    <td><%= career_fair.fair_id %></td>-->
    <td><%= career_fair.activity.activity_name %></td>
    <td><%= career_fair.activity.activity_date.to_date %></td>
    <td><%= career_fair.person_in_charge %></td>
    <td><%= link_to 'Show', career_fair %></td>
    <!--<td><%= link_to 'Edit', edit_career_fair_path(career_fair) %></td>
    <td><%= link_to 'Destroy', career_fair, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
  </tr>
<% end %>
</table>

<br />

<!--<%= link_to 'New Career fair', new_career_fair_path %>-->
