<p id="notice"><%= notice %></p>
<!--
<p>
  <b>Activity:</b>
  <%= @career_fair.activity_id %>
</p>

<p>
  <b>Fair:</b>
  <%= @career_fair.fair_id %>
</p>
-->
<p>
  <b>Career Fair Name:</b>
  <%= @career_fair.activity.activity_name %>
</p>

<p>
  <b>Date:</b>
  <%= @career_fair.activity.activity_date.to_date %>
</p>

<p>
  <b>Location:</b>
  <%= @career_fair.activity.location %>
</p>

<p>
  <b>Dress Code:</b>
  <%= @career_fair.activity.dress_code %>
</p>

<p>
  <b>Person in charge:</b>
  <%= @career_fair.person_in_charge %>
</p>

<p>
<b>Company List:</b> <br />

<% @career_fair.participates.each do |company| %>
    <%= Company.find_by_activity_id(company.activity_id).company_name%>
    <%= company.contact_email %><br />
    <%= company.booth_number %><br />
<% end %>
</p>

<!--<%= link_to 'Edit', edit_career_fair_path(@career_fair) %> |
<%= link_to 'Back', career_fairs_path %>-->
