<p id="notice"><%= notice %></p>
<!--
<p>
  <b>Activity:</b>
  <%= @career_fair.activity_id %>
</p>

<p>
  <b>Fair:</b>
  <%= @career_fair.fair_id %>
</p>
-->
<p>
  <b>Person in charge:</b>
  <%= @career_fair.person_in_charge %>
</p>


<!--<%= link_to 'Edit', edit_career_fair_path(@career_fair) %> |
<%= link_to 'Back', career_fairs_path %>-->
