<p id="notice"><%= notice %></p>
<!--
<p>
  <b>Activity:</b>
  <%= @info_session.activity_id %>
</p>

<p>
  <b>Session:</b>
  <%= @info_session.session_id %>
</p>
-->
<p>
  <b>Info Session Name:</b>
  <%= @info_session.activity.activity_name %>
</p>

<p>
  <b>Host company:</b>
  <%= link_to @info_session.company.company_name, company_path(@info_session.company) %>
</p>

<p>
  <b>Date:</b>
  <%= @info_session.activity.activity_date.to_date %>
</p>

<p>
  <b>Location:</b>
  <%= @info_session.activity.location %>
</p>

<p>
  <b>Dress Code:</b>
  <%= @info_session.activity.dress_code %>
</p>


<p>
  <b>Contact email:</b>
  <%= @info_session.contact_email %>
</p>

<p>
  <b>Food:</b>
  <%= @info_session.food %>
</p>

<!--<%= link_to 'Edit', edit_info_session_path(@info_session) %> |
<%= link_to 'Back', info_sessions_path %>-->
