<p>
  <b>User name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Major:</b>
  <%= @user.major %>
</p>

<p>
  <b>Degree</b>
  <%= @user.degree %>
</p>

<p>
  <b>Graduation Year</b>
  <%= @user.year_of_graduation %>
</p>

<p>
  <b>Birth Date</b>
  <%= @user.date_of_birth %>
</p>

<p>
  <b>Overall gpa</b>
  <%= @user.overall_gpa %>
</p>

<p>
  <%= link_to 'Available Positions', positions_path %>
</p>

<p>
<b>My Activity:</b> <br />
<table>
  <tr>
    <th>Position</th>
	<th>Company</th>
    <th>Status</th>
  </tr>
<% @user.applies.each do |application| %>
  <tr>
    <td><%= Position.find_by_position_id(application.position_id).position_name%></td>
    <td><%= Position.find_by_position_id(application.position_id).company.company_name%></td>
    <td><%= application.status %><br /></td>
<% end %>
</p>


<p>
  <%= link_to 'Recent Career Fairs', career_fairs_path %>
</p>

<p>
  <%= link_to 'Recent Info Sessions', info_sessions_path %>
</p>

<p>
	<%= link_to "Sign out", signout_path, method: "delete" %>
</p>

