<p id="notice"><%= notice %></p>

<p>
  <b>Skill:</b>
  <%= @skill.skill_id %>
</p>

<p>
  <b>Skill name:</b>
  <%= @skill.skill_name %>
</p>


<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
