<%= form_for(@participate) do |f| %>
  <% if @participate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participate.errors.count, "error") %> prohibited this participate from being saved:</h2>

      <ul>
      <% @participate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :activity_id %><br />
    <%= f.number_field :activity_id %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.number_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :contact_email %><br />
    <%= f.text_field :contact_email %>
  </div>
  <div class="field">
    <%= f.label :booth %><br />
    <%= f.text_field :booth %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
