
<p id="notice"><%= notice %></p>
<!--
<p>
  <b>Company:</b>
  <%= @company.company_id %>
</p>
-->
<p>
  <b>Company name:</b>
  <%= @company.company_name %>
</p>

<p>
  <b>Headquarter location:</b>
  <%= @company.headquarter_location %>
</p>

<p>
  <b>Website:</b>
  <%= @company.website %>
</p>

<!--
<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
-->